

.bg-perso{
  background: url('./kotorWP.jpg');
  height: 52.35rem;
  background-position: left;
  background-size: cover;
  background-position:  top;
  background-position-y: 50%;
  border-right: 2px solid #61892F;

   


}

.detailExt{

   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;


}

.bg-r{

    border-radius: 15px;
    background-color: #222629;

}

.header-tax{
    
    height: 7rem;
    width: auto;
}